<a href="https://colab.research.google.com/github/Joss5499/Panda2/blob/main/EjerciciosPanda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1
Programa que pregunte al usuario por las ventas de un rango de años y luego muestre una serie con los datos de las ventas indexada por los años, antes y despues de aplicarles un descuento del 5%

In [4]:
import pandas as pd

# Pedir año de inicio y año de fin
anio_inicio = int(input("Ingrese el año de inicio: "))
anio_fin = int(input("Ingrese el año de fin: "))

# Crear lista de años en el rango
años = list(range(anio_inicio, anio_fin + 1))

ventas = []

# Pedir ventas para cada año
for año in años:
    venta = float(input(f"Ingrese las ventas para el año {año}: "))
    ventas.append(venta)

# Crear la serie de ventas
serie_ventas = pd.Series(ventas, index=años, name="Ventas")

# Aplicar descuento del 5%
serie_descuento = serie_ventas * 0.95
serie_descuento.name = "Ventas con 5% descuento"

# Mostrar ambas en un cuadro (DataFrame)
df = pd.concat([serie_ventas, serie_descuento], axis=1)
print("\nVentas antes y después del descuento:")
print(df)

Ingrese el año de inicio: 2000
Ingrese el año de fin: 2002
Ingrese las ventas para el año 2000: 45
Ingrese las ventas para el año 2001: 50
Ingrese las ventas para el año 2002: 65

Ventas antes y después del descuento:
      Ventas  Ventas con 5% descuento
2000    45.0                    42.75
2001    50.0                    47.50
2002    65.0                    61.75

Ejercicio 2

In [11]:
import pandas as pd

anio_limite = 2025

anio_inicio = int(input("Ingrese el año de inicio: "))

# Ajustamos para que el primer año sea par (si no lo es, siguiente par)
if anio_inicio % 2 != 0:
    anio_inicio += 1

# Generar años pares desde anio_inicio hasta anio_limite
años_pares = [a for a in range(anio_inicio, anio_limite + 1, 2)]

# Tomar máximo 10 años pares (los primeros 10 en este rango)
ultimos_10_pares = años_pares[:10]

ventas = []

for año in ultimos_10_pares:
    venta = float(input(f"Ingrese las ventas para el año {año}: "))
    ventas.append(venta)

serie_ventas = pd.Series(ventas, index=ultimos_10_pares, name="Ventas")
serie_descuento = serie_ventas * 0.95
serie_descuento.name = "Ventas con 5% descuento"

df = pd.concat([serie_ventas, serie_descuento], axis=1)

print("\nVentas antes y después del descuento:")
print(df)

Ingrese el año de inicio: 2000
Ingrese las ventas para el año 2000: 3346
Ingrese las ventas para el año 2002: 3246456
Ingrese las ventas para el año 2004: 325345
Ingrese las ventas para el año 2006: 3543
Ingrese las ventas para el año 2008: 535
Ingrese las ventas para el año 2010: 34646
Ingrese las ventas para el año 2012: 34534
Ingrese las ventas para el año 2014: 34636
Ingrese las ventas para el año 2016: 3434
Ingrese las ventas para el año 2018: 364

Ventas antes y después del descuento:
         Ventas  Ventas con 5% descuento
2000     3346.0                  3178.70
2002  3246456.0               3084133.20
2004   325345.0                309077.75
2006     3543.0                  3365.85
2008      535.0                   508.25
2010    34646.0                 32913.70
2012    34534.0                 32807.30
2014    34636.0                 32904.20
2016     3434.0                  3262.30
2018      364.0                   345.80

Ejercicio 3
calculo de las estadisticas basicas: media, mediana desviacion estandar - numpy para dataframe o la datatable

In [16]:
import pandas as pd
import numpy as np

data = {
    'Nombre': ['Jose', 'Juan', 'Maria', 'Pedro'],
    'Edad': [32, 45, 21, 20],
    'Ciudad': ['Huancayo', 'Ica', 'Ayacucho', 'Arequipa']
}

df = pd.DataFrame(data)

media = np.mean(df['Edad'])
mediana = np.median(df['Edad'])
desviacion = np.std(df['Edad'], ddof=1)
max_edad = df['Edad'].max()
min_edad = df['Edad'].min()

print(f"Media: {media}")
print(f"Mediana: {mediana}")
print(f"Desviación estándar: {desviacion}")
print(f"Edad máxima: {max_edad}")
print(f"Edad mínima: {min_edad}")

Media: 29.5
Mediana: 26.5
Desviación estándar: 11.67618659209133
Edad máxima: 45
Edad mínima: 20