<a href="https://colab.research.google.com/github/Joss5499/Panda2/blob/main/Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Trabajando con panda

In [2]:
#importar libreria
import pandas as pd

Toma de contactos

In [3]:
import pandas as pd

diccionario = [{'a':2,'b':4,'c':9}, {'a':16,'b':18,'c':20}]
df = pd.DataFrame(diccionario)
print(df)

    a   b   c
0   2   4   9
1  16  18  20

Series

In [4]:
#  crear series
import pandas as pd

serie = pd.Series([2, 6, 1, 8, 9, 2.3], index=['a', 'b', 'c', 'd', 'e', 'f'])
print(serie)

a    2.0
b    6.0
c    1.0
d    8.0
e    9.0
f    2.3
dtype: float64

In [5]:
# borrar series
serie2 = serie.drop(['a','b'])
print (serie2)

c    1.0
d    8.0
e    9.0
f    2.3
dtype: float64

In [6]:
#seleccionar filas o series
serie [['d', 'e']]

d    8.0
e    9.0
dtype: float64

In [7]:
#asignacion
serie ['b'] = 100
print(serie)

a      2.0
b    100.0
c      1.0
d      8.0
e      9.0
f      2.3
dtype: float64

In [8]:
#operadores
serie4 = (serie + serie2)
print (serie4)

a     NaN
b     NaN
c     2.0
d    16.0
e    18.0
f     4.6
dtype: float64

In [9]:
import pandas as pd

# dos Series con los mismos índices
serie1 = pd.Series([2, 4, 6, 8], index=['a', 'b', 'c', 'd'])
serie2 = pd.Series([1, 3, 5, 7], index=['a', 'b', 'c', 'd'])

# Multiplicación
multiplicacion = serie1.mul(serie2)
print("Multiplicación:\n", multiplicacion)

# División
division = serie1.div(serie2)
print("\nDivisión:\n", division)

# Resta
resta = serie1.sub(serie2)
print("\nResta:\n", resta)

Multiplicación:
 a     2
b    12
c    30
d    56
dtype: int64

División:
 a    2.000000
b    1.333333
c    1.200000
d    1.142857
dtype: float64

Resta:
 a    1
b    1
c    1
d    1
dtype: int64